{{ $publication := .publication }}
{{ $site := .site | default site }}
{{ $authors := .authors }}
{{ if and (not $authors) $publication }}
  {{ $authors = default "" $publication.Params.authors }}
{{ end }}
{{ if $authors }}
  {{ $result := $authors }}
  {{ $authorProfiles := slice }}
  {{ if $publication }}
    {{ $authorProfiles = partial "resolve-publication-author-profiles.html" (dict "publication" $publication "site" $site) }}
  {{ else }}
    {{ range (where $site.RegularPages "Section" "people") }}
      {{ $person := . }}
      {{ $aliases := default (slice) $person.Params.publication_names }}
      {{ $matched := false }}
      {{ range $aliases }}
        {{ if and . (in $authors .) }}
          {{ $matched = true }}
        {{ end }}
      {{ end }}
      {{ if and $matched (not (in $authorProfiles $person)) }}
        {{ $authorProfiles = $authorProfiles | append $person }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ $matchedAliases := slice }}
  {{ range $authorProfiles }}
    {{ range (default (slice) .Params.publication_names) }}
      {{ if and . (in $authors .) (not (in $matchedAliases .)) }}
        {{ $matchedAliases = $matchedAliases | append . }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ range $matchedAliases }}
    {{ $result = replace $result . (printf "<strong>%s</strong>" .) }}
  {{ end }}
  {{ $result | safeHTML }}
{{ else }}
  {{ $authors }}
{{ end }}
